.linkButton {
  width: 45px;
  height: 45px;
  background: none;
  color: var(--primary-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.colored {
  background-color: var(--primary-color);
}

@media (max-width: 768px) {
  .linkButton {
    padding: 1.5rem;
  }
}
