.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #ffffff;
  font-size: 1.125rem;
  position: relative;
  flex: 1;
}

.header {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #ffffff;
}

.dummy {
  padding: 1.625rem;
}

.title {
  font-weight: normal;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}

.commentList {
  flex: 1;
  list-style: none;
  margin: 0 1.875rem 1.875rem;
  padding: 0;
}

.commentItem {
  border: 1px solid var(--primary-color);
}

.comment {
  background-color: #ffffff;
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 1rem 1.25rem;
  margin: 0;
  letter-spacing: -0.1pt;
  line-height: 1.6;
  white-space: pre-line;
  cursor: pointer;
}

.commentControl {
  display: flex;
}

.commentControlInput {
  width: auto;
  min-width: 0;
  height: 2rem;
  line-height: 2rem;
  padding: 0 20px;
  font-size: 1.125rem;
  flex: 1;
  background-color: #ffffff;
  border: none;
  border-right: 1px solid var(--primary-color);
}

.commentControlInput::placeholder {
  color: #92b3ff;
  line-height: 2rem;
  font-size: 1.125rem;
}

.commentControlButton {
  height: 2rem;
  padding: 0 20px;
  flex: 1;
  background-color: #92b3ff;
  border: none;
  border-right: 1px solid var(--primary-color);
  cursor: pointer;
}

.commentControlButton:last-of-type {
  border-right: none;
}

.commentControlButton:disabled {
  cursor: default;
}

.detailItem {
  margin: 1.875rem;
  letter-spacing: -0.1pt;
  line-height: 1.6;
}

.add {
  position: absolute;
  bottom: 1.875rem;
  right: 1.875rem;
}

.add button {
  background-color: #fffd5c;
}

.detailContentImage {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  image-rendering: pixelated;
}
