.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #ffffff;
  font-size: 1.125rem;
}

.header {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #ffffff;
}

.dummy {
  padding: 1.625rem;
}

.title {
  font-weight: normal;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}

.commentList {
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.commentItem {
  border-bottom: 1px solid black;
}

.detailItem {
  margin: 1.875rem;
  line-height: 30px;
}
