.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #ffffff;
  font-size: 1.125rem;
  position: relative;
  flex: 1;
}

.header {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #ffffff;
}

.dummy {
  padding: 1.625rem;
}

.title {
  font-weight: normal;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}

.commentList {
  flex: 1;
  list-style: none;
  margin: 0 1.875rem 1.875rem;
  padding: 0;
}

.commentItem {
  border-bottom: 1px solid #ffffff;
  background-color: #ffffff;
  color: var(--primary-color);
  padding: 1rem 1.25rem;
  line-height: 30px;
  border: 1px solid var(--primary-color);
}

.detailItem {
  margin: 1.875rem;
  line-height: 30px;
}

.add {
  position: absolute;
  bottom: 1.875rem;
  right: 1.875rem;
}

.add button {
  background-color: #fffd5c;
}
